.card2 {
    background-color: black;
    color: white;
    border-radius: 20px;
    opacity: 0.8;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 5%;
    margin-bottom: 2%;
}