 {% extends 'bootstrap/base.html'%}

<!-- -->
{% block content %}

<!-- Styles/css block  -->
{%block styles %} {{super()}}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Comfortaa|Courgette|Katibeh|Philosopher|Tangerine|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">

<!--Importing the simple mde css and js files  -->
{{ simplemde.css}} {{ simplemde.js }} {% endblock styles %}

<div id="bg">
    <img src="../static/imgs/bg5.jpg" alt="">
</div>

<!-- Navbar block  -->
{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}

<!-- Footer -->
<footer>
    <div class="container style=" background-color: rgba(64, 119, 136, 0.9); ">
            <div class="row ">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <ul class="list-inline text-center ">
                        <li class="list-inline-item ">
                            <a href="https://twitter.com/login " target="_blank ">
                                <span class="fa-stack fa-lg ">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse "></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item ">
                            <a href="https://www.instagram.com/ " target="_blank ">
                                <span class="fa-stack fa-lg ">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse "></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item ">
                            <a href="https://github.com/rosekairu " target="_blank ">
                                <span class="fa-stack fa-lg ">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse "></i>
                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted text-center ">
                        Copyright &copy; Rose Kairu 2020
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js "></script>
    {% endblock content %}