<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144351462-1"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SixtySec Pitch | Blog</title>
    {% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Arimo|Farro|Livvic&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}" />
    <style>
        body {
            background-image: url("../static/imgs/bg5.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .card {
            background-color: transparent;
        }
    </style>

    {% endblock %}
</head>

<body class="body">
    {% block navbar %} {% include "navbar.html" %}

    <!---->
    {% endblock %} {% block content %} {% endblock %}

    <!---->
    {% block scripts %}

    <!-- Footer -->
    <footer>
        <div class="container style=" background-color: rgba(64, 119, 136, 0.9); ">
            <div class="row ">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <ul class="list-inline text-center ">
                        <li class="list-inline-item ">
                            <a href="https://twitter.com/login " target="_blank ">
                                <span class="fa-stack fa-lg ">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse "></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item ">
                            <a href="https://www.instagram.com/ " target="_blank ">
                                <span class="fa-stack fa-lg ">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse "></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item ">
                            <a href="https://github.com/rosekairu " target="_blank ">
                                <span class="fa-stack fa-lg ">
                  <i class="fas fa-circle fa-stack-2x "></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse "></i>
                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted text-center ">
                        Copyright &copy; Rose Kairu 2020
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js "></script>
    {% endblock %}
</body>

</html>