{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %}

<!---->
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}"> {% endblock %}

<!---->
{% block content %}
<div class="first">
    <div class="home">
        <div class="row justify-content-center register">
            <div class="col-md-10">

                <!-- TechSavy -->
                <div id="tech">
                    {% if TechSavyPosts %}
                    <h4>TechSavy Pitch</h4>
                    <hr /> {% for soundbyt in TechSavyPosts %}

                    <div class="">
                        <div class="card posts">
                            <div class="card-body">
                                {{ soundbyt.soundbyt }}
                                <hr />
                                <p class="comments">Comments</p>
                                {% for comment in comments %} {% if comment.soundbyt_id == soundbyt.id %}
                                <p>{{ comment.comment }}</p>
                                {% endif %} {% endfor %}
                            </div>

                            <div>
                                {{ wtf.quick_form(CommentForm) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        <p>No TechSavy Pitch yet</p>
                    </div>

                    {% endif %}
                </div>

                <!-- MoneySmart -->
                <div id="money">
                    {% if MoneySmartPosts %}
                    <h4>MoneySmart Pitch</h4>
                    <hr /> {% for soundbyt in MoneySmartPosts %}

                    <div class="">
                        <div class="card posts">
                            <div class="card-body">
                                {{ soundbyt.soundbyt }}
                                <hr />
                                <p class="comments">Comments</p>
                                {% for comment in comments %}

                                <p>{{ comment.comment }}</p>

                                {% endfor %}
                            </div>

                            <div>
                                {{ wtf.quick_form(CommentForm) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        <p>No MoneySmart Pitch yet</p>
                    </div>

                    {% endif %}
                </div>

                <!-- Life & Laughter -->
                <div id="life">
                    {% if LifenLaughterPosts %}
                    <h4>Life & Laughter Pitch</h4>
                    <hr /> {% for soundbyt in LifenLaughterPosts %}

                    <div class="">
                        <div class="card posts">
                            <div class="card-body">
                                {{ soundbyt.soundbyt }}
                                <hr />
                                <p class="comments">Comments</p>
                                {% for comment in comments %}

                                <p>{{ comment.comment }}</p>

                                {% endfor %}
                            </div>

                            <div>
                                {{ wtf.quick_form(CommentForm) }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        <p>No Life & Laughter Pitch yet</p>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}