<!--
{% extends 'bootstrap/base.html' %} {% import 'macros.html' as macro %} {% block navbar %} {% include 'navbar.html'%} {% endblock %} {% block content %}

<div class="first">
    <div class="homeDiv">
        <div class="">
            <h1 class="homeHeading display-3">SixtySec Pitch</h1>

            <div class="card">
                <div class="card-header">
                    Random Quote - A SixtySec Pitch snippet
                </div>

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{quote.quote}}</p>
                        <footer class="blockquote-footer">
                            {{quote.author}} <cite title="Source Title"> sourced from: {{quote.permalink}}</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#fashion">Fashion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#interview">Interview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#pickupline">Pickupline</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#religious">Religious</a>
            </li>
        </ul>
    -->
<!-- Tab panes -->
<!--
<div class="tab-content">
    <div class="tab-pane active" id="fashion"><br> {{ macro.display(fashionpitch) }}
    </div>
    <div class="tab-pane" id="interview"><br> {{ macro.display(interviewpitch) }}
    </div>
    <div class="tab-pane" id="pickupline"><br> {{ macro.display(pickuplines) }}
    </div>
    <div class="tab-pane" id="religious"><br> {{ macro.display(religiouspitch) }}
    </div>
</div>
</div>
</div>
{% endblock %} -->