{% extends 'base.html'%} {% import 'macros.html' as macro %} {% block content %}

<div class="homeDiv">
    <div class="">
        <br>
        <div class="card">
            <div class="card-header" style="background-color: aqua;">
                Random Quote - A SixtySec snippet
            </div>

            <div class="card-body" style="background-color: lightcyan;">
                <blockquote class="blockquote mb-0">
                    <p>{{quote.quote}}</p>
                    <footer class="blockquote-footer">
                        <p class="">
                            <strong style="font-style: italic;"> Author :</strong>
                            <small><span style="text-decoration: underline; font-size: 18px;">
                              {{quote.author}}</span>
                  </small>
                        </p> <cite title="Source Title"> sourced from: {{quote.permalink}}</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- blog posts -->


<div class="container" style="font-size: larger; color: teal;" id="pitch">
    <h2 class="text-center" id="posts"></h2>
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
        <li class="nav-item">
            <a id="cats" class="nav-link" data-toggle="tab" href="#all"><strong>SixtySec Pitch</strong>
      </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cats" data-toggle="tab" href="#flask">Flask Pitches</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cats" data-toggle="tab" href="#django"
        >Django Pitches</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cats" data-toggle="tab" href="#angular"
        >Angular Pitches</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div class="container tab-pane active" id="all">
      <br />
      {{ macro.display(pitches) }}
    </div>
    <div class="container tab-pane fade" id="django">
      <br />
      {{ macro.display(django)}}
    </div>
    <div class="container tab-pane fade" id="flask">
      <br />
      {{ macro.display(flask) }}
    </div>
    <div class="container tab-pane fade" id="angular">
      <br />
      {{ macro.display(angular) }}
    </div>
  </div>
</div>


{% endblock %}